.visit-btn {
    width: 170px;
    border-radius: 40px !important;
}

.pagination-btn {
    border: 1px solid white !important;
    border-radius: 45px;
    color: white !important;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s;
}

.pagination-btn:hover {
    color: black !important;
    background-color: white !important;
    cursor: pointer;
    transition: 0.3s;
}

.text-about {
    text-align: justify;
}

.text-main {
    margin-bottom: 150px;
}