.log-btn {
    background-color: white !important;
    color: var(	--bs-dark) !important;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s;
}

.log-btn:hover {
    background-color: #DDDDDD !important;
    color: var(--bs-dark) !important;
    transition: 0.2s;
}

.user-btn {
    /* background-color: aqua; */
    color: white !important;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 30px;
}